<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Jennifer Jennings</title>
        <link rel="stylesheet" href="assets\style.css" />
    </head>

    <!-- <body> -->
        <!--Navigation-->
        <!-- <header>
            <h1>Jennifer Jennings</h1>
            <nav>
                <ul>
                    <li>
                        <a href="#about-me">About Me</a>
                    </li>
                    <li>
                        <a href="#my-work">My Work</a>
                    </li>
                    <li>
                        <a href="#contact-me">Contact Me</a>
                    </li>
                </ul>
            </nav>
        </header>  -->

        <!--About me section with photo-->
        <!-- <section id="about-me">
            <h2 class="section-title">About Me</h2>
            <img src="assets\Images\IMG_8477.jpg" alt="Photo of Jennifer Jennings">
            <div>
                Hello! My name is Jennifer Jennings and I am thrilled to get into the world of coding and technology! I am a hard worker who loves learning new things! I recently decided to make a career change from teaching into coding and am loving it! I have experience running meetings and planning with teams to complete the tasks at hand. 
                On a personal note, I love hiking and exploring new places. My dog Bailey is always along for the ride when she can be!
            </div>
        </section> -->

        <!-- <section id="my-work">
            <h2 class="section-title">My Work</h2>
            <!--Tiles with my work-->
            <!-- <div>
                <article class="large-tile">
                    <a href="https://github.com/jen2ags/Med-Portal">
                        <img src="assets/Images/MedPortal Main page.png" alt="" width="400" height="400">
                    </a>
                </article>
                <article class="small-tiles">
                    <a href="https://jen2ags.github.io/Karaoke-Kings/">
                        <img src="assets\Images\Karaoke-kings screenshot.png" alt="" width="150" height="300">
                    </a>
                    <a href="https://github.com/jen2ags/Note-Taker">
                        <img src="assets/Images/Note Taker main page.png" alt="" width="150" height="300">
                    </a>
                </article>
                <article class="small-tiles">
                    <a href="https://jen2ags.github.io/Work-day-scheduler/">
                        <img src="assets\Images\work-day-scheduler screenshot.png" alt=""  width="150" height="300">
                    </a>
                    <a href="https://jen2ags.github.io/run-buddy/">
                        <img src="assets\Images\run-buddy.png" alt=""  width="150" height="300">
                    </a>
                </article>    
                <article class="small-tiles">
                    <a href="https://jen2ags.github.io/robot-gladiators/">
                        <img src="assets\Images\robot-gladiators.png" alt=""  width="150" height="300">
                    </a>
                    <a href="https://jen2ags.github.io/Module-01-Challenge/">
                        <img src="assets\Images\challenge-01.png" alt=""  width="150" height="300">
                    </a>
                    
                </article>
            </div>
        </section> -->
    <!-- </body> --> 

    <!-- <section id="contact-me">
        <h2 class="section-title"> Contact Me</h2>
        <ul>
            <li>
                Phone Number: <a href="tel:210.912.9164">210.912.9164</a>
            </li>
            <li>
                Email: <a href="mailto:jennjenn93@gmail.com">jennjenn93@gmail.com</a>
            </li>
            <li>
                Linkdin: <a href="https://www.linkedin.com/in/jennifer-jennings-728018a3">Linkdin Proflie</a>
            </li>
        </ul>
    </section> -->


</html>
